/* for the main page */
@media screen and (max-width: 400px) {
  .filter-options select {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}

@media screen and (min-width: 500px) {
  #restaurants-list {
    margin-right: auto;
    margin-left: auto;
  }

  #restaurants-list li {
    max-width: 650px;
  }
}

@media screen and (min-width: 770px) {
  filter-options h2 {
    font-size: 2em;
  }

  #restaurants-list {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 1100px) {
   body {
     margin-left: auto;
     margin-right: auto;
 }

 #restaurants-list {
    grid-template-columns: auto auto auto;
  }
}

/* for restaurant.html (restaurant details page)*/
@media screen and (max-width: 500px) {
  .inside #maincontent {
      display: grid;
      grid-template-columns: auto;
    }
}

@media screen and (max-width: 700px) {
    .inside #map-container {
      width: 100%;
      position: absolute;
      max-height: 300px;
    }

    #restaurant-container, #reviews-container {
      width: 100%;
      position: relative;
    }

    #restaurant-container {
      margin-top: 350px;
    }

    .inside #footer {
      bottom: 0;
      position: absolute;
      width: 100%;
    }
  }

@media screen and (min-width: 701px) {
  #restaurant-container {
    order: 1;
    margin-top: 40px;
  }

  .inside #map-container {
    order: 2;
  }

  #reviews-container {
    order: 3;
  }
}
